	
	<h1>Send us an email</h1>

	<form action="/contact" method= "POST">

	<p><label for = "email"> Email</label><br>

	<input type="text" name="email"></p>

	<p><label for="message">Message</label><br>

	<textarea type="text" name="message"> </textarea></p><br>
	<input type="submit">
	</form>