<!Doctype html>

<html>
<head>
	<title> @title = "Welcome"</title>
</head>
<body>
<h1> Welcome  Emma </h1>
<link rel="stylesheet" type="text/css" href="/main.css">

<% 1.upto(5) do |num| %>

<p><%= num %></p> 

<h1><%= %></h1>

<% end %>

<% my_friends = ["Ian", "Peter", "James", "John"] %>
<% my_friends.each do |friend|%>
	<p><b><%= friend %></b></p>
<% end %>

</body>
</html>
